<mat-card>
  <mat-card-title>
    Commentaires
  </mat-card-title>
</mat-card>
<br>
<mat-card>
  <mat-card-content>
    <ng-container *ngIf="requesting; else: requestEnded">
      <nz-skeleton></nz-skeleton>
      <nz-skeleton></nz-skeleton>
      <nz-skeleton></nz-skeleton>
      <nz-skeleton></nz-skeleton>
      <nz-skeleton></nz-skeleton>
      <nz-skeleton></nz-skeleton>
      <nz-skeleton></nz-skeleton>
    </ng-container>
    <ng-template #requestEnded>
      <app-post-list [user]="user" [(posts)]="comments"></app-post-list>
    </ng-template>
  </mat-card-content>
</mat-card>
