<nz-comment [nzAuthor]="topic.author" [nzDatetime]="time">
  <ng-template #time>
    {{topic.date|date}}
  </ng-template>
  <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
  <nz-comment-content>
    <h3>{{topic.title}}</h3>
    <p>{{topic.text}}</p>
  </nz-comment-content>

  <!-- BUG CANNOT USE *ngIf on nz-comment-action elements -->

  <nz-comment-action>
    <ng-container *ngIf="canVote">
      <i nz-tooltip nzTitle="Upvote" nz-icon nzType="like" [nzTheme]="topic.upvotes.active ? 'twotone' : 'outline'" (click)="upvote()"></i>
      <span>{{ topic.upvotes.count }}</span>
    </ng-container>
  </nz-comment-action>
  <nz-comment-action>
    <ng-container *ngIf="canVote">
      <i nz-tooltip nzTitle="Downvotes" nz-icon nzType="dislike" [nzTheme]="topic.downvotes.active ? 'twotone' : 'outline'" (click)="downvote()"></i>
      <span>{{ topic.downvotes.count }}</span>
    </ng-container>
  </nz-comment-action>

  <nz-comment-action>
    <span *ngIf="canDelete" (click)="delete()">Supprimer</span>
  </nz-comment-action>
  <nz-comment-action>
    <span *ngIf="canReply" (click)="reply()">Répondre</span>
  </nz-comment-action>
</nz-comment>
